<header id="frame-header" class="col-sm-12 hidden-xs">
	<img id="logo" src="img/logo_395X250.png" />
	<section id="account">
		<a>注册</a>&nbsp;
		<a>登陆</a>
	</section>
</header>

<header id="frame-header-xs" class="col-xs-12 visible-xs">
	<div id="dropdown">
		<img id="menu-icon" class="dropdown-toggle" data-toggle="dropdown" src="img/menu_30X22.png" />
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">首页</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">校园黄页</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">...</a></li>
			<li role="presentation" class="divider"></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">...</a></li>
		</ul>
	</div>
	<img id="logo-xs" src="img/logo-xs_158X33.png" />
</header>
