<section id="web-display" class="col-xs-12">
	<section id="freewall" class="free-wall" ng-controller="freewallCtrl">
		<div class='cell' ng-repeat="web in weblist" repeat-finish="onFreewallRepeatFinish()">
			<div class='cover' webname="{{web.name}}" weburl="{{web.url}}">{{web.name}}</div>
		</div>
	</section>
	<ul class="pagination">
		<li><a href="#">&laquo;</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#">&raquo;</a></li>
	</ul>
</section>
